.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}
.box{
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  width: 700px;
  justify-content: center;
}

.idxbtn{
  margin-top: -15px;
}
.navlogo{
  margin-right: 12px;

}
.bdge{
  font-size: 40px;
  font-weight: 100;
  
}